DATABASE_URL= # url do mongodb + /nome-da-db

GOOGLE_ID= # https://console.cloud.google.com/apis/
GOOGLE_SECRET= # https://console.cloud.google.com/apis/

# provedor de email (resend)
# também é possível usar nodemailer, mailjet e outros, essa aqui é só uma sugestão
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
EMAIL_FROM="Your App <noreply@updates.yourdomain.com>"

BETTER_AUTH_URL="http://localhost:3000" # IMPORTANTE MANTER CERTO se usa rotas como a de forgot password
BETTER_AUTH_SECRET= # gerar usando o comando: openssl rand -base64 32

# o posthog é um esquema de analytics que usei pro noctiluz, favor desconsiderar
# se quiser usá-lo ele vai gerar as coisas parecidas com o abaixo
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# AWS tem muitos servicos diferentes que usamos, como o S3
# os 3 primeiros são a base e o 4° se refere ao s3
AWS_ACCESS_KEY_ID= # access key do usuário iam
AWS_SECRET_ACCESS_KEY= # secret da access key do iam
AWS_REGION= # "us-east-2" por exemplo

AWS_S3_BUCKET= # 'bucket-x' por exemplo
